<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.cskaoyan.bean.Goods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_sn" jdbcType="VARCHAR" property="goodsSn" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="gallery" jdbcType="VARCHAR" property="gallery" />
    <result column="keywords" jdbcType="VARCHAR" property="keywords" />
    <result column="brief" jdbcType="VARCHAR" property="brief" />
    <result column="is_on_sale" jdbcType="BIT" property="isOnSale" />
    <result column="sort_order" jdbcType="SMALLINT" property="sortOrder" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="share_url" jdbcType="VARCHAR" property="shareUrl" />
    <result column="is_new" jdbcType="BIT" property="isNew" />
    <result column="is_hot" jdbcType="BIT" property="isHot" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="counter_price" jdbcType="DECIMAL" property="counterPrice" />
    <result column="retail_price" jdbcType="DECIMAL" property="retailPrice" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.cskaoyan.bean.Goods">
    <result column="detail" jdbcType="LONGVARCHAR" property="detail" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, goods_sn, name, category_id, brand_id, gallery, keywords, brief, is_on_sale,
    sort_order, pic_url, share_url, is_new, is_hot, unit, counter_price, retail_price,
    add_time, update_time, deleted
  </sql>

  <insert id="addGoods" parameterType="com.cskaoyan.bean.goods.MyAddGoods">
    insert into cskaoyan_mall_goods (<include refid="Base_Column_List" />,detail)
    value
    (#{myAddGoods.id},#{myAddGoods.goodsSn},#{myAddGoods.name},#{myAddGoods.categoryId},#{myAddGoods.brandId},
    #{myAddGoods.gallery},#{myAddGoods.keywords},#{myAddGoods.brief},#{myAddGoods.isOnSale},
    (select IFNULL((select max(sort_order) from (select sort_order from cskaoyan_mall_goods) goods_t),0)+1),#{myAddGoods.picUrl},null,#{myAddGoods.isNew},#{myAddGoods.isHot},#{myAddGoods.unit},
    #{myAddGoods.counterPrice},#{myAddGoods.retailPrice},#{myAddGoods.addtime},#{myAddGoods.updatetime},0,#{myAddGoods.detail})
  </insert>

  <sql id="Blob_Column_List">
    detail
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.cskaoyan.bean.GoodsExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cskaoyan_mall_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectAllGoods" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />,detail
    from cskaoyan_mall_goods
    <where>
      1 = 1 and deleted = 0
      <if test="goodsSn != null">
        and goods_sn = #{goodsSn}
      </if>
      <if test="name != null">
        and `name` like concat('%',#{name},'%')
      </if>
    </where>
    order by #{sort} #{order}
  </select>
  <select id="selectByExample" parameterType="com.cskaoyan.bean.GoodsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />,detail
    from cskaoyan_mall_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cskaoyan_mall_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cskaoyan_mall_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cskaoyan.bean.GoodsExample">
    delete from cskaoyan_mall_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cskaoyan.bean.Goods">
    insert into cskaoyan_mall_goods (id, goods_sn, name,
      category_id, brand_id, gallery,
      keywords, brief, is_on_sale,
      sort_order, pic_url, share_url,
      is_new, is_hot, unit, counter_price,
      retail_price, add_time, update_time,
      deleted, detail)
    values (#{id,jdbcType=INTEGER}, #{goodsSn,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{categoryId,jdbcType=INTEGER}, #{brandId,jdbcType=INTEGER}, #{gallery,jdbcType=VARCHAR},
      #{keywords,jdbcType=VARCHAR}, #{brief,jdbcType=VARCHAR}, #{isOnSale,jdbcType=BIT},
      #{sortOrder,jdbcType=SMALLINT}, #{picUrl,jdbcType=VARCHAR}, #{shareUrl,jdbcType=VARCHAR},
      #{isNew,jdbcType=BIT}, #{isHot,jdbcType=BIT}, #{unit,jdbcType=VARCHAR}, #{counterPrice,jdbcType=DECIMAL},
      #{retailPrice,jdbcType=DECIMAL}, #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{deleted,jdbcType=BIT}, #{detail,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cskaoyan.bean.Goods">
    insert into cskaoyan_mall_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsSn != null">
        goods_sn,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="gallery != null">
        gallery,
      </if>
      <if test="keywords != null">
        keywords,
      </if>
      <if test="brief != null">
        brief,
      </if>
      <if test="isOnSale != null">
        is_on_sale,
      </if>
      <if test="sortOrder != null">
        sort_order,
      </if>
      <if test="picUrl != null">
        pic_url,
      </if>
      <if test="shareUrl != null">
        share_url,
      </if>
      <if test="isNew != null">
        is_new,
      </if>
      <if test="isHot != null">
        is_hot,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="counterPrice != null">
        counter_price,
      </if>
      <if test="retailPrice != null">
        retail_price,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="detail != null">
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsSn != null">
        #{goodsSn,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="gallery != null">
        #{gallery,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null">
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="brief != null">
        #{brief,jdbcType=VARCHAR},
      </if>
      <if test="isOnSale != null">
        #{isOnSale,jdbcType=BIT},
      </if>
      <if test="sortOrder != null">
        #{sortOrder,jdbcType=SMALLINT},
      </if>
      <if test="picUrl != null">
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="shareUrl != null">
        #{shareUrl,jdbcType=VARCHAR},
      </if>
      <if test="isNew != null">
        #{isNew,jdbcType=BIT},
      </if>
      <if test="isHot != null">
        #{isHot,jdbcType=BIT},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="counterPrice != null">
        #{counterPrice,jdbcType=DECIMAL},
      </if>
      <if test="retailPrice != null">
        #{retailPrice,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cskaoyan.bean.GoodsExample" resultType="java.lang.Long">
    select count(*) from cskaoyan_mall_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cskaoyan_mall_goods
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.goodsSn != null">
        goods_sn = #{record.goodsSn,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryId != null">
        category_id = #{record.categoryId,jdbcType=INTEGER},
      </if>
      <if test="record.brandId != null">
        brand_id = #{record.brandId,jdbcType=INTEGER},
      </if>
      <if test="record.gallery != null">
        gallery = #{record.gallery,jdbcType=VARCHAR},
      </if>
      <if test="record.keywords != null">
        keywords = #{record.keywords,jdbcType=VARCHAR},
      </if>
      <if test="record.brief != null">
        brief = #{record.brief,jdbcType=VARCHAR},
      </if>
      <if test="record.isOnSale != null">
        is_on_sale = #{record.isOnSale,jdbcType=BIT},
      </if>
      <if test="record.sortOrder != null">
        sort_order = #{record.sortOrder,jdbcType=SMALLINT},
      </if>
      <if test="record.picUrl != null">
        pic_url = #{record.picUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.shareUrl != null">
        share_url = #{record.shareUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.isNew != null">
        is_new = #{record.isNew,jdbcType=BIT},
      </if>
      <if test="record.isHot != null">
        is_hot = #{record.isHot,jdbcType=BIT},
      </if>
      <if test="record.unit != null">
        unit = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.counterPrice != null">
        counter_price = #{record.counterPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.retailPrice != null">
        retail_price = #{record.retailPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=BIT},
      </if>
      <if test="record.detail != null">
        detail = #{record.detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update cskaoyan_mall_goods
    set id = #{record.id,jdbcType=INTEGER},
      goods_sn = #{record.goodsSn,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      brand_id = #{record.brandId,jdbcType=INTEGER},
      gallery = #{record.gallery,jdbcType=VARCHAR},
      keywords = #{record.keywords,jdbcType=VARCHAR},
      brief = #{record.brief,jdbcType=VARCHAR},
      is_on_sale = #{record.isOnSale,jdbcType=BIT},
      sort_order = #{record.sortOrder,jdbcType=SMALLINT},
      pic_url = #{record.picUrl,jdbcType=VARCHAR},
      share_url = #{record.shareUrl,jdbcType=VARCHAR},
      is_new = #{record.isNew,jdbcType=BIT},
      is_hot = #{record.isHot,jdbcType=BIT},
      unit = #{record.unit,jdbcType=VARCHAR},
      counter_price = #{record.counterPrice,jdbcType=DECIMAL},
      retail_price = #{record.retailPrice,jdbcType=DECIMAL},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      deleted = #{record.deleted,jdbcType=BIT},
      detail = #{record.detail,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cskaoyan_mall_goods
    set id = #{record.id,jdbcType=INTEGER},
      goods_sn = #{record.goodsSn,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      brand_id = #{record.brandId,jdbcType=INTEGER},
      gallery = #{record.gallery,jdbcType=VARCHAR},
      keywords = #{record.keywords,jdbcType=VARCHAR},
      brief = #{record.brief,jdbcType=VARCHAR},
      is_on_sale = #{record.isOnSale,jdbcType=BIT},
      sort_order = #{record.sortOrder,jdbcType=SMALLINT},
      pic_url = #{record.picUrl,jdbcType=VARCHAR},
      share_url = #{record.shareUrl,jdbcType=VARCHAR},
      is_new = #{record.isNew,jdbcType=BIT},
      is_hot = #{record.isHot,jdbcType=BIT},
      unit = #{record.unit,jdbcType=VARCHAR},
      counter_price = #{record.counterPrice,jdbcType=DECIMAL},
      retail_price = #{record.retailPrice,jdbcType=DECIMAL},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      deleted = #{record.deleted,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.bean.Goods">
    update cskaoyan_mall_goods
    <set>
      <if test="goodsSn != null">
        goods_sn = #{goodsSn,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="gallery != null">
        gallery = #{gallery,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null">
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="brief != null">
        brief = #{brief,jdbcType=VARCHAR},
      </if>
      <if test="isOnSale != null">
        is_on_sale = #{isOnSale,jdbcType=BIT},
      </if>
      <if test="sortOrder != null">
        sort_order = #{sortOrder,jdbcType=SMALLINT},
      </if>
      <if test="picUrl != null">
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="shareUrl != null">
        share_url = #{shareUrl,jdbcType=VARCHAR},
      </if>
      <if test="isNew != null">
        is_new = #{isNew,jdbcType=BIT},
      </if>
      <if test="isHot != null">
        is_hot = #{isHot,jdbcType=BIT},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="counterPrice != null">
        counter_price = #{counterPrice,jdbcType=DECIMAL},
      </if>
      <if test="retailPrice != null">
        retail_price = #{retailPrice,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cskaoyan.bean.Goods">
    update cskaoyan_mall_goods
    set goods_sn = #{goodsSn,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      brand_id = #{brandId,jdbcType=INTEGER},
      gallery = #{gallery,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      brief = #{brief,jdbcType=VARCHAR},
      is_on_sale = #{isOnSale,jdbcType=BIT},
      sort_order = #{sortOrder,jdbcType=SMALLINT},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      share_url = #{shareUrl,jdbcType=VARCHAR},
      is_new = #{isNew,jdbcType=BIT},
      is_hot = #{isHot,jdbcType=BIT},
      unit = #{unit,jdbcType=VARCHAR},
      counter_price = #{counterPrice,jdbcType=DECIMAL},
      retail_price = #{retailPrice,jdbcType=DECIMAL},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT},
      detail = #{detail,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.bean.Goods">
    update cskaoyan_mall_goods
    set goods_sn = #{goodsSn,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      brand_id = #{brandId,jdbcType=INTEGER},
      gallery = #{gallery,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      brief = #{brief,jdbcType=VARCHAR},
      is_on_sale = #{isOnSale,jdbcType=BIT},
      sort_order = #{sortOrder,jdbcType=SMALLINT},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      share_url = #{shareUrl,jdbcType=VARCHAR},
      is_new = #{isNew,jdbcType=BIT},
      is_hot = #{isHot,jdbcType=BIT},
      unit = #{unit,jdbcType=VARCHAR},
      counter_price = #{counterPrice,jdbcType=DECIMAL},
      retail_price = #{retailPrice,jdbcType=DECIMAL},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}

  </update>

  <insert id="addGoodsSpecification">
    insert into cskaoyan_mall_goods_specification
    (id,goods_id,specification,value,pic_url,add_time,update_time,deleted)
    values
    <foreach collection="specList" item="spec" separator=",">
      (null,#{goodsId},#{spec.specification},#{spec.value},#{spec.picUrl},CURRENT_TIMESTAMP,CURRENT_TIMESTAMP,0)
    </foreach>
  </insert>

  <insert id="addProducts">
    insert into cskaoyan_mall_goods_product
    (id,goods_id,specifications,price,number,url,add_time,update_time,deleted)
    values
    <foreach collection="products" item="product" separator=",">
      (null,#{goodsId},#{product.specifications},#{product.price},#{product.number},#{product.url},CURRENT_TIMESTAMP,CURRENT_TIMESTAMP,0)
    </foreach>
  </insert>

  <insert id="addAttribute">
    insert into cskaoyan_mall_goods_attribute
    (id,goods_id,attribute,value,add_time,update_time,deleted)
    values
    <foreach collection="attributes" item="attribute" separator=",">
      (null,#{goodsId},#{attribute.attribute},#{attribute.value},CURRENT_TIMESTAMP,CURRENT_TIMESTAMP,0)
    </foreach>
  </insert>

  <update id="deleteObjectOfGoods">
    update cskaoyan_mall_goods
    set deleted = 1
    where id = #{goodId}
  </update>
  <update id="deleteSpecificationsOfGoods">
    update cskaoyan_mall_goods_specification
    set deleted = 1
    where goods_id = #{goodId}
  </update>
  <update id="deleteProductsOfGoods">
    update cskaoyan_mall_goods_product
    set deleted = 1
    where goods_id = #{goodId}
  </update>
  <update id="deleteAttributeOfGoods">
    update cskaoyan_mall_goods_attribute
    set deleted = 1
    where goods_id = #{goodId}
  </update>
  <select id="getL2CategoryIdByGoodsId" resultType="java.lang.Integer">
    select category_id from cskaoyan_mall_goods where id = #{id}
  </select>
  <select id="getL1CategoryIdByL2Id" resultType="java.lang.Integer">
    select pid from cskaoyan_mall_category where id = #{l2_id}
  </select>

  <resultMap id="DetailResultGoods" type="com.cskaoyan.bean.goods.DetailGoods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_sn" jdbcType="VARCHAR" property="goodsSn" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="gallery" property="gallery" />
    <result column="keywords" jdbcType="VARCHAR" property="keywords" />
    <result column="brief" jdbcType="VARCHAR" property="brief" />
    <result column="is_on_sale" jdbcType="BIT" property="isOnSale" javaType="boolean"/>
    <result column="sort_order" property="sortOrder" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="share_url" jdbcType="VARCHAR" property="shareUrl" />
    <result column="is_new" jdbcType="BIT" property="isNew" javaType="boolean"/>
    <result column="is_hot" jdbcType="BIT" property="isHot" javaType="boolean"/>
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="counter_price" jdbcType="DECIMAL" property="counterPrice" />
    <result column="retail_price" jdbcType="DECIMAL" property="retailPrice" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" javaType="boolean"/>
    <result column="detail" jdbcType="LONGVARCHAR" property="detail" javaType="String"/>
  </resultMap>
  <select id="getDetailOfGoods" resultMap="DetailResultGoods">
    select <include refid="Base_Column_List" />,detail from cskaoyan_mall_goods where id = #{id}
  </select>

  <resultMap id="DetailAttributes" type="com.cskaoyan.bean.goods.AttributeDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_id" property="goodsId" />
    <result column="attribute" property="attribute" />
    <result column="value" property="value" />
    <result column="add_time" property="addTime" />
    <result column="update_time" property="updateTime"/>
    <result column="deleted" property="deleted"/>
  </resultMap>
  <select id="getDetailOfAttributes" resultMap="DetailAttributes">
    select id,goods_id,attribute,value,add_time,update_time,deleted from cskaoyan_mall_goods_attribute
    where goods_id = #{id} and deleted = 0
  </select>

  <select id="getDetailOfSpecifications" resultType="com.cskaoyan.bean.goods.SpecificationDetail">
    select id,goods_id as goodsId,specification,value,pic_url as picUrl,add_time as addTime,update_time as updateTime,deleted
    from cskaoyan_mall_goods_specification where goods_id = #{id} and deleted = 0
  </select>

  <select id="getDetailOfProducts" resultType="com.cskaoyan.bean.goods.ProductDetail">
    select id,goods_id as goodsId,specifications,price,number,url,add_time as addTime,update_time as updateTime,deleted
    from cskaoyan_mall_goods_product where goods_id = #{id} and deleted = 0
  </select>

  <update id="updateObjectOfGoods">
    update cskaoyan_mall_goods
    set
    goods_sn = #{goods.goodsSn},name = #{goods.name},category_id = #{goods.categoryId},
    brand_id = #{goods.brandId},gallery = #{goods.gallery},keywords = #{goods.keywords},
    brief = #{goods.brief},is_on_sale = #{goods.isOnSale},sort_order = #{goods.sortOrder},
    pic_url = #{goods.picUrl},share_url = #{goods.shareUrl},is_new = #{goods.isNew},
    is_hot = #{goods.isHot},unit = #{goods.unit},counter_price = #{goods.counterPrice},
    retail_price = #{goods.retailPrice},update_time = CURRENT_TIMESTAMP,deleted = #{goods.deleted},
    detail = #{goods.detail}
    where id = #{goods.id}
  </update>
  <update id="deleteGoodsSpecifications">
    update cskaoyan_mall_goods_specification
    set deleted = true,update_time = CURRENT_TIMESTAMP
    where goods_id = #{goodsId} and id not in
    <foreach collection="undeletedSpecsList" item="spec" open="(" close=")" separator=",">
      <if test="spec.id != null">
        #{spec.id}
      </if>
    </foreach>
  </update>

  <update id="deleteAttributes">
    update cskaoyan_mall_goods_attribute
    set deleted = true,update_time = CURRENT_TIMESTAMP
    where goods_id = #{goodsId} and id not in
    <foreach collection="undeletedAttributesList" item="attribute" separator="," open="(" close=")">
      <if test="attribute.id != null">
        #{attribute.id}
      </if>
    </foreach>
  </update>
  <update id="deleteProductsByGoodsId">
    update cskaoyan_mall_goods_product
    set deleted = true , update_time = CURRENT_TIMESTAMP
    where goods_id = #{goodsId}
  </update>
  <insert id="addProductsByGoodsId">
    insert into cskaoyan_mall_goods_product
    (id,goods_id,specifications,price,number,url,add_time,update_time,deleted)
    values
    <foreach collection="products" item="product" separator=",">
      (null,#{goodsId},#{product.specifications},#{product.price},#{product.number},#{product.url},CURRENT_TIMESTAMP,CURRENT_TIMESTAMP,false)
    </foreach>
  </insert>

  <select id="getCommentList" resultType="com.cskaoyan.bean.Comment">
    select
    id,value_id as valueId,type,content,user_id as userId,has_picture as hasPicture,
    pic_urls as picUrls,star,add_time as addTime,update_time as updateTime,deleted
    from
    cskaoyan_mall_comment
    <where>
      1 = 1 and deleted = 0 and `type` = 0
      <if test="userId != null">
        and user_id = #{userId}
      </if>
      <if test="valueId != null">
        and value_id = #{valueId}
      </if>
    </where>
    order by #{sort} #{order}
  </select>
  <update id="deleteComment" parameterType="com.cskaoyan.bean.Comment">
    update cskaoyan_mall_comment
    set deleted = true , update_time = CURRENT_TIMESTAMP
    where id = #{comment.id}
  </update>
  <insert id="addReply">
    insert into cskaoyan_mall_Fang_reply
    (id,comment_id,reply_content,add_time,type)
    value
    (null,#{goodsReply.commentId},#{goodsReply.content},CURRENT_TIMESTAMP,0)
  </insert>
  <select id="getCommentById" resultType="com.cskaoyan.bean.Comment">
    select
    id,value_id as valueId,type,content,user_id as userId,has_picture as hasPicture,
    pic_urls as picUrls,star,add_time as addTime,update_time as updateTime,deleted
    from cskaoyan_mall_comment
    where id = #{commentId}
  </select>
  <select id="getBannerList" resultType="com.cskaoyan.bean.Ad">
    select id,name,link,url,position,content,enabled,add_time as addTime,update_time as updateTime,deleted
    from cskaoyan_mall_ad
    where deleted = 0
  </select>
  <select id="getCouponList" resultType="com.cskaoyan.bean.Coupon">
    select id,name,`desc`,tag,discount,`min`,days,start_time as startTime,end_time as endTime
    from cskaoyan_mall_coupon
    where deleted = 0
  </select>
  <select id="getChannelList" resultType="com.cskaoyan.bean.Category">
    select id,name,icon_url as iconUrl
    from cskaoyan_mall_category
    where `level` = "L1" and deleted = false
  </select>
  <select id="getBrandList" resultType="com.cskaoyan.bean.Brand">
    select id,name,`desc`,pic_url as picUrl,floor_price as floorPrice
    from cskaoyan_mall_brand
    where deleted = 0
  </select>
  <select id="getNewGoodsList" resultType="com.cskaoyan.bean.Goods">
    select id,name,brief,pic_url as picUrl,is_new as isNew,is_hot as isHot,counter_price as counterPrice,retail_price as retailPrice
    from cskaoyan_mall_goods
    where is_new = true and deleted = false
  </select>
  <select id="getHotGoodsList" resultType="com.cskaoyan.bean.Goods">
    select id,name,brief,pic_url as picUrl,is_new as isNew,is_hot as isHot,counter_price as counterPrice,retail_price as retailPrice
    from cskaoyan_mall_goods
    where is_hot = true and deleted = false
  </select>

</mapper>
